{% extends 'tienda/base.html' %}
{% block content %}
           {% load i18n %}
    <center>
    <h2>{% trans 'Confirmación de Compra' %}</h2>
    <div class="productofinal">
         <br><br>
          <br><br>

              <h2> {{producto.nombre}}</h2>
        <br><br>

          Modelos: {{producto.modelo}} /
          Unidades: {{producto.unidades}}
          <br>
          Precio: {{producto.precio}} /
          Marca: {{producto.marca}}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_div }}
            <br>
            <button class="myButton6" type="submit">{% trans 'Compra' %}</button>
            <a class="myButton6" href="{% url 'crear_comentario' pk=producto.pk %}">{% trans 'Crear Comentarios' %} </a>
        </form>
    </div>
    </center>
    <h3>{% trans 'Comentarios' %}:</h3>
        <ul>
            {% for comentario in producto.comentario_set.all %}
                <li>{{ comentario.comentario }}</li>
            {% endfor %}
        </ul>
{% endblock %}