{%  extends 'tienda/base.html' %}
{% block content %}
    <center>
    <br>
  <h2>Editar Perfil</h2>
         {% if  clientes %}
            <div class="perfil">
                  <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Guardar cambios</button>
                  </form>
                  <a href="{% url 'welcome' %}">Volver al inicio</a>
            </div>
        {% endif %}
      {% if  tarjetas %}
    <div class="perfil">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar cambios</button>
          </form>
          <a href="{% url 'welcome' %}">Volver al inicio</a>
    </div>
    {% endif %}
      {% if  direcciones %}
    <div class="perfil">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar cambios</button>
          </form>
          <a href="{% url 'welcome' %}">Volver al inicio</a>
    </div>
    {% endif %}
    </center>
{% endblock %}
